@media only screen and (min-width: 1925px)

/*1920*/
    {

    .header {
        padding: 5px;
    }

    .nav {
        padding: 10px;
        margin: 0 0 0 -120px;
    }

    /*----------------------------------------BurgerNAV-----------------------------------------*/
    .burgerNavContainer {
        display: inline-block;
        cursor: pointer;
        margin: 30px 0 0 100px;
        position: absolute;
        z-index: 9;
        margin-left: 50%;
        transform: translateX(50%);
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }

    /*----------------------------------------***-----------------------------------------*/

    .phoneNavBtn {
        transform: translateX(-50%);
    }

    .navLinks {
        margin: 20px 0 0 -30px;
        width: 100%;
        height: 40px;
        padding: 10px;
        transform: translateX(5%);
    }

    .nav ul {
        margin: 75px 90px 0 110px;
        /*  ----------adjust up and down--------*/
        display: none;

    }

    .nav ul li {
        padding: 0px;
        margin: 0 -70px 0 -70px;
        border: solid 2px purple;
    }

    .nav ul li a {
        padding: 5px 10px 5px 10px;
        margin-right: 10px;
        /*  ----------work on the padding of the links--------*/
        margin-left: -15px;
        /*  ----------work on the padding of the links--------*/
    }

    .nav ul li a:hover {
        margin-right: 0px;
        padding: 7px 22px 7px 22px;
    }

    .nav img {
        width: 100px;
        margin-left: 50%;
        margin-top: -80px;
        transform: translateX(-150%);
    }

    .nav h2 {
        margin: 50px -15px 0 0;
        text-align: center;
    }


    /*----------------------------------------Footer-----------------------------------------*/





    .footer {
        padding: 80px 40px 80px 40px;
        margin-top: -10px;
        height: 50px;
    }

    .phoneFooterBtn {
        padding: 20px 20px 20px 20px;
        margin-top: -20px;
        margin-left: 50%;
        transform: translateX(-50%);
        font-size: 36px;
    }

    .ftrDiv1,
    .ftrDiv2,
    .ftrDiv3 {
        margin: 40px 0 0 0;
        width: 200px;
        height: 70px;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .ftrDiv1 a,
    .ftrDiv2 a,
    .ftrDiv3 a {
        padding: 5px 20px 5px 20px;
        margin-left: 45px;
    }


    .firstList,
    .secondList,
    .thirdList {
        margin-left: 15px;
        width: 170px;
    }

    .ftrDiv1 ul li,
    .ftrDiv2 ul li,
    .ftrDiv3 ul li {
        width: 100px;
        font-size: 12px;
    }


    /*----------------------------------------Developer Section/ Sponser-----------------------------------------*/



    .developerSection {
        padding: 30px;
        margin: 20px 0 0 0;
        height: 180px;
        width: 280px;
        margin-left: -50%;
        transform: translateX(30%);
        box-shadow: -20px 0 100px rgba(3, 186, 192, 0.589);
    }

    .developerBtn {
        width: 150px;
        font-size: 24px;
    }

    .developerSection ul {
        font-size: 12px;
        width: 90px;
        height: 80px;
        margin: -100px 0 0 150px;
        padding-top: 20px;
    }

    .developerSection ul li {
        margin-left: -60px;
    }

    .developerSection h4,
    .developerSection p {
        font-size: 14px;
        width: 300px;
        margin-top: 10px;
    }

    .developerSection h4 {
        margin: 130px 0 -5px 0;
        font-size: 16px;
    }

}