
@media only screen and (max-width: 500px) {

    /*----------------------------------------Contact Details/ Part1-----------------------------------------*/

    .content {
        width: 100%;
        transform: translateX(-50%);
        margin-left: 50%;
    }

    .part1 {
        padding: 50px 50px 60px 35px;
        display: inline-block;
        margin-bottom: -5px;
        width: 90%;
        margin-left: -50px;
        transform: translateX(5%);
    }

    .address {
        padding-right: 30px;
        margin-left: 50%;
        transform: translateX(-50%);
        width: 70%;
        float: left;
    }

    .contactinfo {
        float: left;
        padding-left: 30px;
        margin-top: -2px;
        margin-left: 50%;
        transform: translateX(-50%);
        width: 70%;
    }


    .paralaxDivider {
        width: 120%;
        margin-left: 50%;
        transform: translateX(-50%);
    }


    /*----------------------------------------Contact Form/ Part2-----------------------------------------*/


    .part2 {
        padding: 10px;
        height: 800px;
        width: 110%;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .formBlock {
        width: 90%;
        height: 700px;
        transform: translateX(-50%);
        margin-left: 50%;
        margin-top: 50px;
    }

    .form {
        padding: 30px;
        text-align: center;
        transform: translateX(-0%);
    }

    .form input,
    .form textarea {
        transform: translateX(0%);
        width: 100%;
    }

    .inputBreaks {
        display: block;
        margin-top: -20px;
    }

    .subm {
        margin-top: 20px;
        transform: translateX(-0%);
    }


    /*----------------------------------------Download Btn & References/ Part3-----------------------------------------*/


    .part3 {
        padding: 50px;
        width: 90%;
        margin: 0 0 5% 50%;
        transform: translateX(-50%);
    }

    .download {
        padding-right: 30px;
        margin-top: 10%;
        margin-left: 10%;
        width: 70%;
        height: 280px;
    }

    .referencesBlock {
        padding-left: 30px;
        margin: -19.7% 0 0 0;
        margin-right: 10%;
        width: 70%;
        height: 230px;
    }

    .download button {
        width: 100px;
        height: 100px;
        margin: 0px 20px 5px 0;
        margin-left: 50%;
        transform: translateX(-50%);
    }

}